/* Estilos generales */
.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo img {
  height: 50px;
  width: auto;
}

.toolbar-section-start,
.toolbar-section-end {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilo del campo de búsqueda */
.search-form-field, .search-form-field-mobile {
  width: 250px;
}
.search-form-field .mat-form-field-wrapper,
.search-form-field-mobile .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mobile-nav,
.mobile-search-icon,
.mobile-search-bar {
  display: none;
}

mat-toolbar.search-active .mobile-search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

mat-toolbar.search-active .toolbar-section-start,
mat-toolbar.search-active .toolbar-section-end,
mat-toolbar.search-active .spacer {
  display: none;
}

.desktop-search .mat-form-field {
  display: inline-flex;
  vertical-align: middle;
}

.mdc-notched-outline {
  padding-top: 12px!important;
}

/* --- Responsiva --- */

@media (max-width: 960px) {
  .desktop-nav,
  .desktop-search {
    display: none;
  }

  .mobile-nav,
  .mobile-search-icon {
    display: block;
  }
}