/* Contenedor principal de la página */
.home-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

/* Estilo general para todas las secciones */
section {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  text-align: center;
  padding-bottom: 40px; 
  border-bottom: 1px solid #e0e0e0; 
}

.greeting-section {
  background-color: #f0f4f8;
  padding: 30px 0;
  border-radius: 8px;
  text-align: center;
}

.greeting-section h2 {
  font-size: 30px;
  margin: 0;
}

.greeting-section p {
  font-size: 20px;
  color: #555;
}

.slider-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.info-card {
  text-align: left;
}

.card-image-clickable {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-image-clickable:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.action-section a {
  padding: 15px 30px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.image-modal-container .mat-dialog-container {
  padding: 0;
  background: none;
  box-shadow: none;
}

.enlarged-image {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
}

.slider-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  border-radius: 8px;
}

.slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.slider-container::-webkit-scrollbar {
  display: none;
}
.slider-container {
  scrollbar-width: none; /* Para Firefox */
}


.selected-item-section {
  background-color: #fafafa;
  border: 1px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.item-details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.item-details-content img {
  max-width: 100%;
  width: 400px;
  border-radius: 8px;
}

.item-details-content p {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}


/* ---- RESPONSIVO -----*/

@media (max-width: 768px) {
  .greeting-section {
    padding: 20px auto;
  }

  .greeting-section h2 {
    font-size: 1.8rem;
  }

  .greeting-section p {
    font-size: 1rem;
  }
}