/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.image-modal-panel {
  max-width: 95vw !important;
  max-height: 95vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.image-modal-panel .mat-mdc-dialog-container {
  padding: 0 !important;
  box-shadow: none !important;
  background: transparent !important;
  border-radius: 8px;
    overflow: visible !important;
}