/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* src/styles.css */

/* Estilos para el panel del modal de imagen */
.image-modal-panel .mat-mdc-dialog-container {
  /* Anulamos los estilos por defecto de Material */
  padding: 0 !important;
  box-shadow: none !important;
  background: transparent !important;
  border-radius: 8px;
}